*
  box-sizing: border-box
body
  font-family: "Lato", sans-serif
  font-size: 14px
  line-height: 20px
.more, .wpcf7-form .more
  display: inline-block
  color: #ffffff
  padding: 10px 20px
  padding-right: 50px
  background-color: #4592FF 
  background-image: url('../images/arrow.svg')
  background-repeat: no-repeat
  background-position: center right 20px
  text-decoration: none
  border-radius: 20px
  border: none
  width: auto
  cursor: pointer
  &:visited, &:focus, &:hover
    color: #fff
.comments
  display: flex
  align-items: center
  &-counter
    color: #939699
    font-size: 12px
    line-height: 15px
    margin-left: 5px
  &-icon
    width: 15px
    height: 15px
    fill: #BCBFC2
    &--white
      fill: #fff
      opacity: 0.4
.category
  &-link
    font-weight: 900
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #4592FF
    text-decoration: none  
  &-web-design
    color: #FFA34D
  &-css
    color: #3BBDC4
  &-html
    color: #AC8EE3
  &-news
    color: #4592FF
  &-opinions
    color: #3BBDC4
  &-hot
    color: #FF4F52
  &-collections  
    color: #AC8EE3  