.sidebar
  &-front-page
    grid-area: 1 / 4 / 5 / 5
.widget
  &-downloader
    background: #3BBDC4 url('../images/file.svg') no-repeat top 24px right 22px
    border-radius: 10px
    color: #fff
    padding-top: 25px
    display: flex
    flex-direction: column
    .widget
      &-title
        font-family: Roboto Slab
        font-weight: bold
        font-size: 16px
        line-height: 25px
        margin-top: 0
        margin-bottom: 10px
        padding: 0 25px
      &-link
        width: 100%
        margin-top: auto
        padding: 12px
        font-weight: 900
        color: #ffffff
        text-decoration: none
        border-top: 1px solid #96E2E3
        display: flex
        align-items: center
        justify-content: center
        &-icon
          margin-right: 10px
    .description
      padding: 0 25px
      color: #C1F4F5
      margin-bottom: 20px
