@font-face {
  font-family: 'Lato';
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato"), local("Lato Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.more {
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  background-color: #4592FF;
  background-image: url("../images/sprite.svg#arrow");
  text-decoration: none;
  border-radius: 20px;
}

.more:visited, .more:focus, .more:hover {
  color: #fff;
}

.more-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  vertical-align: middle;
  margin-left: 5px;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-counter {
  color: #939699;
  font-size: 12px;
  line-height: 15px;
  margin-left: 5px;
}

.comments-icon {
  width: 15px;
  height: 15px;
  fill: #BCBFC2;
}

.comments-icon--white {
  fill: #fff;
  opacity: 0.4;
}

.header {
  background: #262D33;
  padding: 15px 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-toggle {
  display: none;
  cursor: pointer;
}

.header-light {
  background: #fff;
}

.header-light .logo-name {
  color: #4592FF;
}

.header-light .menu-item a {
  color: #939699;
}

.header-light .search-form input {
  background: #f5f5f5;
}

.custom-logo {
  width: 40px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-name {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  font-size: 24px;
  margin-left: 10px;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.search-form {
  position: relative;
  width: 25%;
  max-width: 270px;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
}

.search-form input::-webkit-input-placeholder {
  color: #939699;
}

.search-form input:-ms-input-placeholder {
  color: #939699;
}

.search-form input::-ms-input-placeholder {
  color: #939699;
}

.search-form input::placeholder {
  color: #939699;
}

.search-button {
  position: absolute;
  z-index: 2;
  right: 25px;
  top: 0;
  width: 20px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.search-button-icon {
  width: 20px;
  height: 20px;
  fill: #BCBFC2;
}

.container {
  max-width: 1140px;
  width: 92%;
  margin: 0 auto;
}

.home {
  background: #E5E5E5;
}

.front-page-header {
  background: #262D33;
  position: relative;
  padding-top: 25px;
  height: 475px;
}

.hero {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background: #fff;
}

.hero .left {
  -ms-flex-preferred-size: 82%;
      flex-basis: 82%;
  position: relative;
  padding: 55px 55px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .left::before {
  position: absolute;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
}

.hero .left .post-thumb {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .left .author {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-name {
  display: block;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero .left .post-text {
  position: relative;
  z-index: 2;
}

.hero .left .post-title {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 590px;
}

.hero .right {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.hero .right .recommend {
  margin: 20px 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero .right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .post {
  padding: 12px 25px 19px 25px;
  margin: 0;
  border-top: 1px solid #D9DADB;
  min-height: 100px;
  cursor: pointer;
}

.hero .right .post:hover {
  background: #F5F5F5;
}

.hero .right .post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .post-categories a {
  font-size: 12px;
  line-height: 15px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

.hero .right .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.hero .right .post-hero-title {
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 8px;
}

.category-link {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #4592FF;
  text-decoration: none;
}

.category-link.web-design {
  color: #FFA34D;
}

.category-link.css {
  color: #3BBDC4;
}

.category-link.html {
  color: #AC8EE3;
}

.category-link.news {
  color: #4592FF;
}

.category-link.opinions {
  color: #3BBDC4;
}

.category-link.hot {
  color: #FF4F52;
}

.category-link.collections {
  color: #AC8EE3;
}

.articles-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #30363D;
  border-radius: 10px;
}

.articles-item {
  position: relative;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 25px 35px;
}

.articles-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 70%;
  width: 1px;
  display: block;
  background: #4B5157;
}

.articles-permalink {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  max-width: 155px;
}

.articles-permalink:hover, .articles-permalink:visited {
  color: #aaa;
}

.articles-title {
  margin: 0;
  font-weight: 900;
  margin-right: 15px;
}

.articles-thumb {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-grid {
  padding: 0;
  margin: 30px 0 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (minmax(170px, max-content))[4];
      grid-template-rows: repeat(4, minmax(170px, -webkit-max-content));
      grid-template-rows: repeat(4, minmax(170px, max-content));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.articles-grid-permalink {
  position: relative;
  text-decoration: none;
  color: #262D33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.articles-grid-permalink:hover, .articles-grid-permalink:visited {
  color: #262D33;
}

.articles-grid-item {
  position: relative;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.articles-grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 3 / 3;
}

.articles-grid-item-1 .category-link {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #6E99AE;
  padding-left: 35px;
  padding-top: 35px;
}

.articles-grid-item-1 .articles-grid-thumb {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
}

.articles-grid-item-1 .articles-grid-thumb::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;
  width: 70%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(0, 156, 194, 0)));
  background: linear-gradient(90deg, white 0%, rgba(0, 156, 194, 0) 100%);
}

.articles-grid-item-1 .articles-grid-thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.articles-grid-item-1 .articles-grid-title {
  position: relative;
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  max-width: 260px;
  padding-left: 35px;
  z-index: 5;
}

.articles-grid-item-1 .articles-grid-excerpt {
  position: relative;
  line-height: 20px;
  color: #4B5157;
  max-width: 260px;
  padding-left: 35px;
  z-index: 5;
}

.articles-grid-item-1 .articles-grid-info {
  position: relative;
  background: #fff;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 35px;
  border-top: 1px solid #D9DADB;
  margin-top: auto;
}

.articles-grid-item-1 .articles-grid-info .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-grid-item-1 .articles-grid-info .author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.articles-grid-item-1 .articles-grid-info .author-name {
  max-width: 390px;
  white-space: nowrap;
  overflow: hidden;
}

.articles-grid-item-1 .articles-grid-info .author-name strong {
  font-weight: 900;
}

.articles-grid-item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 3 / 4;
  background: transparent;
}

.articles-grid-item-2::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
}

.articles-grid-item-2 .category-link {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #E7D9FF;
  margin-top: auto;
}

.articles-grid-item-2 .articles-grid-thumb {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-grid-item-2 .articles-grid-permalink {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
}

.articles-grid-item-2 .articles-grid-title {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 27px;
}

.articles-grid-item-2 .tag {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-transform: capitalize;
}

.articles-grid-item-2 .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-grid-item-2 .author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10px;
  color: #fff;
}

.articles-grid-item-2 .author .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-grid-item-2 .author-name {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  opacity: 0.85;
}

.articles-grid-item-2 .author .date, .articles-grid-item-2 .author .comments, .articles-grid-item-2 .author .likes {
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-grid-item-2 .author .date:not(:last-child), .articles-grid-item-2 .author .comments:not(:last-child), .articles-grid-item-2 .author .likes:not(:last-child) {
  margin-right: 7px;
}

.articles-grid-item-2 .author .date-counter, .articles-grid-item-2 .author .comments-counter, .articles-grid-item-2 .author .likes-counter {
  margin-left: 5px;
}

.articles-grid-item-3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 5 / 2;
}

.articles-grid-item-3 .articles-grid-title {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  padding: 15px 25px 30px;
  margin: 0;
}

.articles-grid-item-3 .articles-grid-thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-grid-item-default .articles-grid-permalink {
  padding: 25px 25px 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.articles-grid-item-default .articles-grid-title {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.articles-grid-item-default .articles-grid-excerpt {
  margin: 5px 0 10px;
}

.articles-grid-item-default .articles-grid-date {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

body {
  counter-reset: section;
}

.sidebar-front-page {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 5 / 5;
}

.sidebar-front-page .widget-social {
  padding: 30px 25px 40px;
}

.widget {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.widget-downloader {
  position: relative;
  background: #3BBDC4;
  border-radius: 10px;
  color: #fff;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.widget-downloader-icon {
  position: absolute;
  top: 24px;
  right: 22px;
  width: 56px;
  height: 72px;
  fill: #96E2E3;
  z-index: 0;
}

.widget-downloader .widget-title {
  position: relative;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  padding: 0 25px;
}

.widget-downloader .widget-link {
  width: 100%;
  margin-top: auto;
  padding: 12px;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
  border-top: 1px solid #96E2E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget-downloader .widget-link-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.widget-downloader .description {
  padding: 0 25px;
  color: #C1F4F5;
  margin-bottom: 15px;
}

.widget_tag_cloud {
  min-height: 340px;
}

.widget_tag_cloud .widget-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 20px 25px;
  margin: 0;
}

.widget-social {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget-social .widget-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.widget-social .widget-link {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.widget-social .widget-link-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.widget-social .widget-link-facebook {
  background: #4267B2;
}

.widget-social .widget-link-twitter {
  background: #1DA1F2;
}

.widget-social .widget-link-youtube {
  background: #FF0000;
}

.widget-social .widget-link-insta {
  background: #262626;
}

.widget-recent-posts .widget-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 20px 25px;
  margin: 0;
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-posts .recent-post-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
  margin: 0 25px;
  text-decoration: none;
}

.widget-recent-posts .recent-post-link:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-posts .recent-post-link::after {
  position: absolute;
  right: 0;
  counter-increment: section;
  content: counter(section);
  font-size: 70px;
  font-weight: 900;
  font-style: italic;
  line-height: 50px;
  color: #262D33;
  opacity: 0.08;
}

.widget-recent-posts .recent-post-thumb {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.widget-recent-posts .recent-post-title {
  font-weight: normal;
  color: #4B5157;
  margin: 0;
  margin-bottom: 5px;
}

.widget-recent-posts .recent-post-time {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.tagcloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px 25px 20px;
  border-top: 1px solid #D9DADB;
}

.tag-cloud-link {
  text-decoration: none;
  font-weight: 900;
  line-height: 20px;
  padding: 4px 15px;
  border: 1px solid #d9dadb;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #262D33;
  text-transform: capitalize;
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
}

.investigation-title {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  max-width: 946px;
  margin: 0 auto 25px;
}

.articles-news {
  padding: 60px 0;
}

.articles-news-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 30px;
}

.articles-news-grid-list {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
  padding: 0 25px;
  background: #fff;
  border-radius: 10px;
}

.articles-news-grid-item {
  position: relative;
}

.articles-news-grid-item .favorites {
  position: absolute;
  right: 0;
  top: 25px;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.articles-news-grid-item .favorites-icon {
  width: 20px;
  height: 20px;
  fill: #BCBFC2;
}

.articles-news-grid-item:not(:last-child) .articles-news-grid-permalink {
  border-bottom: 1px solid #D9DADB;
}

.articles-news-grid-permalink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 25px 0;
  color: #262D33;
  text-decoration: none;
}

.articles-news-grid-permalink:hover, .articles-news-grid-permalink:visited {
  color: #262D33;
}

.articles-news-grid-thumb {
  width: 336px;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 25px;
}

.articles-news-grid-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles-news-grid-right .comments, .articles-news-grid-right .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.articles-news-grid-right .comments-counter, .articles-news-grid-right .likes-counter {
  margin-left: 5px;
}

.articles-news-grid-title {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin: 15px 0 10px;
}

.articles-news-grid-excerpt {
  color: #4B5157;
}

.articles-news-grid-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
  margin-top: auto;
}

.special {
  background: #262D33;
  padding: 60px 0;
}

.special-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.photo-report {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 4 / 3;
  min-height: 570px;
  border-radius: 10px;
  overflow: hidden;
}

.photo-report-slider {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photo-report-slider .swiper-slide {
  position: relative;
  height: 100%;
}

.photo-report-slider .swiper-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
}

.photo-report-slider .swiper-slide img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-report-slider .swiper-pagination-bullets {
  bottom: 40px;
}

.photo-report-slider .swiper-pagination-bullets .swiper-pagination-bullet {
  background: #D9DADB;
  width: 8px;
  height: 8px;
  margin: 0 9px;
}

.photo-report-button {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background: #4592FF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
}

.photo-report-button:hover, .photo-report-button:visited {
  color: #fff;
}

.photo-report-counter {
  margin-left: 8px;
  font-weight: normal;
  color: #C5E4FC;
}

.photo-report-icon {
  width: 19px;
  height: 15px;
  fill: #fff;
  margin-right: 8px;
}

.photo-report-content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  text-align: center;
}

.photo-report-content .category-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  color: #FFFFFF;
  border-radius: 3px;
  background: #3DC47E;
  padding: 5px 12px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-transform: none;
  margin-bottom: 7px;
}

.photo-report-content .author {
  text-decoration: none;
}

.photo-report-content .author .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.photo-report-content .author-name {
  display: block;
  color: #FFFFFF;
  opacity: 0.85;
}

.photo-report-content .author-rank {
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.4;
}

.photo-report-title {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  margin: 30px 0 45px;
}

.career {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 3 / 5;
  background-color: #B4D1E0;
  background-image: url("../images/career.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 35px 35px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.career .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #6E99AE;
}

.career-title {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  max-width: 240px;
  margin: 20px 0 15px;
}

.career-excerpt {
  color: #4B5157;
  max-width: 215px;
}

.career .more {
  margin-top: auto;
}

.other {
  background: #fff;
  text-decoration: none;
  color: #262D33;
  border-radius: 10px;
  padding: 25px 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.other:hover, .other:visited {
  color: inherit;
}

.other-title {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 5px;
}

.other-excerpt {
  color: #4B5157;
  margin: 0;
}

.other-date {
  margin-top: auto;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.footer {
  background: #fff;
  padding: 60px 0 55px;
}

.footer-menu {
  border-top: 5px solid #FF4F52;
  padding-right: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer-menu:nth-child(2) {
  border-top: 5px solid #AC8EE3;
}

.footer-menu:nth-child(3) {
  border-top: 5px solid #4592FF;
}

.footer-menu:nth-child(4) {
  border-top: 5px solid #FFA34D;
}

.footer-menu:nth-child(5) {
  border-top: 5px solid #3DC47E;
}

.footer-menu:nth-child(6) {
  border-top: 5px solid #6E99AE;
}

.footer-menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 60px;
}

.footer-menu-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer ul a {
  display: inline-block;
  color: #4B5157;
  margin: 0 0 15px;
  text-decoration: none;
}

.footer-info {
  padding: 30px 0;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-info ul a {
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
  margin: 0 15px;
}

.footer-info .widget-link {
  margin-left: 15px;
}

.footer-nav-wrapper {
  margin-right: auto;
}

.footer-text {
  max-width: 750px;
}

.footer-text p {
  margin: 0;
}

.footer-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #939699;
  padding: 40px 0 0;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .menu-item a {
    margin: 0 10px;
  }
  .hero .right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .articles-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (minmax(170px, max-content))[6];
        grid-template-rows: repeat(6, minmax(170px, -webkit-max-content));
        grid-template-rows: repeat(6, minmax(170px, max-content));
  }
  .articles-grid-item-2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 5 / 3;
  }
  .sidebar-front-page {
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 7 / 4;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 768px;
  }
  .search-form {
    width: 30%;
  }
  .header-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-nav {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding-top: 30px;
  }
  .header-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-item a {
    margin: 0;
    margin-right: 30px;
  }
  .articles-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .articles-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 20px;
  }
  .articles-permalink {
    max-width: 70%;
  }
  .articles-grid {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .articles-grid-item {
    grid-area: auto;
  }
  .articles-grid-item .tag {
    margin-bottom: 20px;
  }
  .articles-grid-item-1 .articles-grid-info .author-name {
    max-width: 290px;
  }
  .articles-news-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .articles-news-grid-list {
    grid-area: auto;
  }
  .sidebar-front-page {
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 7 / 3;
  }
  .special-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (min-content)[3];
        grid-template-rows: repeat(3, -webkit-min-content);
        grid-template-rows: repeat(3, min-content);
  }
  .photo-report {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  .career {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 4 / 2;
  }
  .footer-menu {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .footer-menu-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-info ul {
    margin-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-text-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer-copyright {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .search-form {
    margin-left: auto;
    width: 40%;
  }
  .header-wrapper {
    position: relative;
  }
  .header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    background: #fff;
    z-index: 90;
    padding: 30px;
    border-radius: 10px;
    width: calc(40% + 40px);
    -webkit-box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.2);
            box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.2);
  }
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header-menu a {
    color: #000;
  }
  .header-menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background: #fff;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .front-page-header {
    height: auto;
    padding-bottom: 30px;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles-list {
    margin-top: 30px;
  }
  .articles-grid {
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .articles-news-grid-permalink {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles-news-grid-thumb {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .articles-news-grid-item .favorites {
    top: 240px;
  }
  .sidebar-front-page {
    grid-area: auto;
  }
  .widget_tag_cloud {
    min-height: auto;
  }
  .career {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 4 / 3;
  }
}

@media screen and (max-width: 576px) {
  .search-form {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    max-width: 330px;
    margin-left: 0;
    margin-top: 20px;
  }
  .header-nav {
    width: 100%;
  }
  .hero .left {
    padding: 25px 25px 50px;
  }
  .hero .left .post-title {
    font-size: 36px;
    line-height: 38px;
  }
  .articles-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .articles-item:not(:last-child)::after {
    top: 100%;
    right: 50%;
    height: 1px;
    width: 90%;
    display: block;
    background: #4B5157;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .articles-grid-item-1 .author-name {
    display: none;
  }
  .investigation-title, .photo-report-title {
    font-size: 30px;
    line-height: 36px;
  }
  .special-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .photo-report {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .career {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 4 / 2;
  }
  .footer-menu {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .footer-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-info ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-info .widget-link {
    margin: 0 8px;
  }
}

.post-header {
  padding: 60px 0 72px;
  color: #fff;
}

.post-header-wrapper {
  position: relative;
}

.post-header-title {
  position: relative;
}

.post-header-title .favorites {
  position: absolute;
  top: 20px;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.post-header-title .favorites-icon {
  width: 30px;
  height: 30px;
  fill: #fff;
  opacity: 0.4;
}

.post-header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.85;
}

.post-header-info .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.post-header-info .date-icon {
  width: 15px;
  height: 15px;
  fill: #fff;
  margin-right: 5px;
}

.post-header-info .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.post-header-info .likes-counter {
  margin-left: 6px;
}

.post-header .navigation {
  margin: 0;
}

.post-header .nav-links {
  min-width: 161px;
}

.post-header .nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 900;
}

.post-header .nav-links a:visited {
  color: inherit;
}

.post-header .nav-links a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-header .nav-links a svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.post-header .nav-links a .prev-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 8px;
}

.post-header .nav-links a .next-icon {
  margin-left: 8px;
}

.post-header p {
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.85;
  margin-bottom: 43px;
  max-width: 632px;
}

.post-home-link {
  margin-left: auto;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.post-home-link-icon {
  width: 18px;
  height: 17px;
  fill: #fff;
  margin-right: 5px;
}

.post-home-link:visited {
  color: inherit;
}

.post-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-title {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  max-width: 750px;
  margin-top: 52px;
  margin-bottom: 30px;
}

.post-author {
  position: absolute;
  right: 0;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #D9DADB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 263px;
}

.post-author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #262D33;
  padding: 35px 25px 20px;
}

.post-author-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-author-name {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.post-author-rank {
  color: #4B5157;
  margin-bottom: 15px;
}

.post-author-posts {
  font-weight: 900;
}

.post-author-link {
  font-weight: 900;
  color: #262D33;
  padding: 15px 25px;
  text-decoration: none;
  border-top: 1px solid #D9DADB;
  width: 100%;
  text-align: center;
}

.post-author-link:visited {
  color: #262D33;
}

.post-content {
  padding-top: 60px;
}

.post-content p {
  font-size: 18px;
  line-height: 30px;
  color: #4B5157;
  margin: 30px 0;
}

.post-content p:first-child {
  max-width: 623px;
}

.post-content .has-drop-cap:not(:focus):first-letter {
  font-size: 100px;
  line-height: 75px;
  color: #4592FF;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-family: 'Roboto Slab';
  font-weight: bold;
}

.post-content h2 {
  font-size: 25px;
  line-height: 30px;
}

.post-content h3 {
  font-size: 22px;
  line-height: 24px;
}

.post-content h4 {
  font-size: 18px;
  line-height: 20px;
}

.post-content h5 {
  font-size: 16px;
  line-height: 18px;
}

.post-content h6 {
  font-size: 14px;
  line-height: 16px;
}

.post-content ul, .post-content ol {
  padding-left: 10px;
  margin: 20px 0;
  font-size: 18px;
  color: #4B5157;
  line-height: 30px;
}

.post-content blockquote {
  position: relative;
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-left: 0;
  margin-top: 80px;
  margin-bottom: 45px;
}

.post-content blockquote::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 70px;
  height: 70px;
  background: url(../images/quote.svg) no-repeat center/100%;
  z-index: -1;
}

.post-content table, .post-content pre {
  font-size: 18px;
  color: #4B5157;
  line-height: 30px;
}

.post-content .wp-block-button__link {
  background: #4169e1;
}

.post-footer .tags-links a {
  font-weight: 900;
  color: inherit;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  margin-right: 10px;
}
